body {
}

h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

main {
  margin: 20px 0;
  padding: 10px;
}

header, nav {
  text-align: center;
  background: white;
  border-style: solid;
  margin: 20px 0;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 3px 8px;
}

.games_header {
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 3px 2px black;
}

.games_desc {
	text-align: center;
	color: white;
	text-shadow: 3px 2px black;
}

.completed_header, .wip_header {
	text-align: center;
	font-size: 25px;
	color: white;
	text-shadow: 3px 2px black;
}

.games_table, .wipgames_table {
    display: table;
	margin: auto;
	padding-top: 28px;
}

.gamelist_1, .gamelist_2, .wipgamelist_1, .wipgamelist_2 {
    display:table-cell;
	margin: auto;
    min-width: 320px;
	max-width: 320px;
	background: white;
    height: 100%;
	border-style: solid;
	box-shadow: 5px 5px;
	padding: 8px;
}