body {
}

h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

main {
  margin: 20px 0;
  padding: 10px;
}

header, nav {
  text-align: center;
  background: black;
  margin: 20px 0;
  background-clip: padding-box;

  border: 10px solid transparent;
  padding: 10px;
  border-image-source: url(img/texture.png);
  border-image-repeat: round;
  border-image-slice: 16;
  border-image-width: 10px;    
}

nav a {
  text-decoration: none;
  color: white;
  padding: 3px 8px;
}

.links_header {
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 3px 2px black;
}

.profiles_header, .links_header2 {
	text-align: center;
	font-size: 30px;
	color: white;
	text-shadow: 3px 2px black;
}

.profiles_desc, .links_desc {
	text-align: center;
	color: white;
	text-shadow: 3px 2px black;
}

.profiles_list {
	text-align: center;
	color: white;
	max-width: 1000px;
	margin: auto;
	background-color: black;
	background-clip: padding-box;
	
	border: 10px solid transparent;
	border-image-source: url(img/texture.png);
	border-image-repeat: round;
	border-image-slice: 16;
	border-image-width: 10px; 
}

.links_table {
    display: table;
	margin: auto;
	padding-top: 28px;
}

.link_1, .link_2 {
    display:table-cell;
	margin: auto;
    min-width: 320px;
	max-width: 320px;
	background: black;
    height: 100%;
	color: white;
	background-clip: padding-box;
	
	border: 10px solid transparent;
    padding: 10px;
	border-image-source: url(img/texture.png);
	border-image-repeat: round;
	border-image-slice: 16;
	border-image-width: 10px; 
}