body {
}

h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

a {
    color: lightblue;
}

main {
  margin: 20px 0;
  padding: 10px;
}

header, nav {
  text-align: center;
  background: black;
  margin: 20px 0;
  background-clip: padding-box;

  border: 10px solid transparent;
  padding: 10px;
  border-image-source: url(img/texture.png);
  border-image-repeat: round;
  border-image-slice: 16;
  border-image-width: 10px;    
}

nav a {
  text-decoration: none;
  color: white;
  padding: 3px 8px;
}

.stream_header {
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 3px 2px black;
}

.twitch_table {
    display: table;
	margin: auto;
	background-color: black;
	background-clip: padding-box;

	border: 10px solid transparent;
	border-image-source: url(img/texture.png);
	border-image-repeat: round;
	border-image-slice: 16;
	border-image-width: 10px; 
	
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}

.stream_embed {
    display:table-cell;
    min-width: 200px;
    height: 100%;
}

.chat_embed {
    display: table-cell;
    width: auto;
    height: 300px; 	
}

.stream_links {
	text-align: center;
	background: black;
	max-width: 600px;
	margin: auto;
	background-clip: padding-box;
	
	border: 10px solid transparent;
	padding: 10px;
	border-image-source: url(img/texture.png);
	border-image-repeat: round;
	border-image-slice: 16;
	border-image-width: 10px; 
}

.stream_info {
	text-align: center;
	color: white;
	max-width: 1000px;
	margin: auto;
	background-color: black;
	background-clip: padding-box;
	
	border: 10px solid transparent;
	border-image-source: url(img/texture.png);
	border-image-repeat: round;
	border-image-slice: 16;
	border-image-width: 10px; 
}

.vid_header {
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 3px 2px black;
}

.yt_rss {
	background: black;
	border-style: solid;
	box-shadow: 5px 5px;
	margin: auto;
}