body {
}

h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

main {
  margin: 20px 0;
  padding: 10px;
}

header, nav {
  text-align: center;
  background: white;
  border-style: solid;
  margin: 20px 0;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 3px 8px;
}

.stream_header {
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 3px 2px black;
}

.twitch_table {
    display: table;
	margin: auto;
	padding-top: 28px;
}

.stream_embed {
    display:table-cell;
    min-width: 200px;
    height: 100%;
}

.chat_embed {
    display: table-cell;
    width: auto;
    height: 300px; 	
}

.stream_links {
	text-align: center;
	background: white;
	border-style: solid;
	max-width: 600px;
	margin: auto;
	box-shadow: 5px 5px;
}

.stream_info {
	text-align: center;
	color: white;
	text-shadow: 3px 2px black;
	max-width: 1000px;
	margin: auto;
}

.youtube-feed {
	margin: auto;
}

.vid_header {
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 3px 2px black;
}