body {
}

h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

a {
    color: lightblue;
}

main {
  margin: auto;
  background: #3F32B4;
  min-width: 1056px;
  max-width: 1184px;
  text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
  
  border: 10px solid transparent;
  border-image-source: url(saktexture.png);
  border-image-repeat: round;
  border-image-slice: 16;
  border-image-width: 10px;
}

header, nav {
  text-align: center;
  background: black;
  background-clip: padding-box;
  margin: 20px 0;

  border: 10px solid transparent;
  padding: 10px;
  border-image-source: url(img/texture.png);
  border-image-repeat: round;
  border-image-slice: 16;
  border-image-width: 10px; 
}

nav a {
  text-decoration: none;
  color: white;
  padding: 3px 8px;
}

.logoimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 414px;
}

.navbar {
	text-align: center;
	color: white;
}

.screenshot_table {
	display: table;
	margin: auto;
	padding-top: 28px;
}

.screenshot1, .screenshot2, .screenshot3, .screenshot4 {
    display:table-cell;
	margin: auto;
    min-width: 256px;
	max-width: 320px;
	min-height: 224px;
	max-height: 320px;
	background: black;
	color: white;
	background-clip: padding-box;
	
	border: 1px;
	border-style: solid;
	border-color: white;
}

.story {
	color: white;
}

.whatisthis {
	color: white;
}

.features {
	color: white;
}

.copyright {
	color: white;
	font-size: 10px;
	text-align: center;
}