h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

a {
    color: lightblue;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 3px 8px;
}

@import compass

// n is number of stars required
@function multiple-box-shadow ($n) 
$value: '#{random(2000)}px #{random(2000)}px #FFF'
@for $i from 2 through $n
$value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

@return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)
    
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation			: animStar 50s linear infinite;
    
  &:after
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
}
    
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 100s linear infinite;
    
  &:after
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
}
    
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation			: animStar 150s linear infinite;
  
  &:after
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
}

@keyframes animStar {
  from	
    transform: translateY(0px);
  to		
    transform: translateY(-2000px);
}

html, body {
    height: 100%;
	background-color: black;
	background-image: url("img/Space.webp");
	background-size: cover;
	overflow: hidden;
}

.header {
	position: fixed;
	top: 0px;
}

.visor_bottom, .visor_top {
	position: fixed;
	top: 0px;
	margin: auto;
    width:100%;
	height:auto;
}

.centrepiece {
	position: fixed;
	top: 40%;
}

.footer {
	position:fixed;
	bottom:0px;
	align-content: center;
}

.maintable {
	position:fixed;
	left: 25%;
	bottom: 5%;
	margin: auto;
	width: 50%;
	align-content: center;
	display: block;
	padding-left: 7%;
}

.link_games_img, .link_stream_img, .link_music_img, .link_links_img {
	display: inline-block;
	margin: auto;
	width: 25%;
	height: auto;
}

.vehicle {
	position: fixed;
	bottom: 0px;
	margin: auto;
    width:100%;
	height:auto;
}