h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

a {
    color: lightblue;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 3px 8px;
}

html, body {
    height: 100%;
	background-color: black;
}

.page-bg { 
  background-image: url("img/Space.webp");
  background-size: cover;
  height: 100%;
  z-index: -1;
}

.header {
	position: fixed;
	top: 0px;
}

.visor_bottom, .visor_top {
	position: fixed;
	top: 0px;
	margin: auto;
    width:100%;
	height:auto;
}

.centrepiece {
	margin: auto;
	height: 50%;
}

.footer {
	position:fixed;
	bottom:0px;
}

.maintable {
	position:fixed;
	bottom:32px;
	margin: auto;
	width: 50%;
	height: 25%;
	border: 3px solid green;
	padding: 10px;
	align-content: center;
}

.link_games, .link_stream, .link_music, .link_links {
	margin: auto;
	width: 33%;
	height: auto;
}

.vehicle {
	position: fixed;
	bottom: 0px;
	margin: auto;
    width:100%;
	height:auto;
}