/* Particle effect start */
/* Config */
$color-bg: #111;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

/* Pauls awesome mixin */
@function particles($max) {
   $val: 0px 0px $color-particle;
   @for $i from 1 through $max {
      $val: #{$val},
      random($spacing)+px random($spacing)+px $color-particle;
   }
   @return $val;
}

@mixin particles($max) {
   box-shadow: particles($max);
}

/* Styles */
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
}

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg { 
  background-color: #000000;
  background-size: cover;
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-1:after {
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-3 {
  animation: animParticle $time-3 linear infinite;
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(400);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(400);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from { transform: translate(0px,0px); }
  to   { transform: translate($spacing * -1,$spacing * -1); }
}

.page-wrapper {
    text-align: center;
    color: #fff;
    z-index: 2;
}

/* Particle effect end */

body {

	background: url(img/Space.webp) center center fixed;
	z-index: -1;
	background-size: 100%; 

}

h1 {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

p {
	text-shadow: 3px 2px black;
    color: white;
	text-align: center;
}

a {
    color: lightblue;
}

main {
  padding: 10px;
}

.img_header {
	position:fixed;
	top:16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

header, nav {
  text-align: center;
  background: rgb(0,0,0,.75);
  margin: 20px 0;
  background-clip: padding-box;
  font-family: Memory of the Saturn;
  border: 10px solid transparent;
  padding: 10px;
  border-image-source: url(img/texture.png);
  border-image-repeat: round;
  border-image-slice: 16;
  border-image-width: 16px;    
}

nav a {
  text-decoration: none;
  color: white;
  padding: 3px 8px;
}

.maintable {
  margin: auto;
  width: 50%;
  max-width: 200px;
  border: 3px solid green;
  padding: 10px;
}

.vehicle {
	position:fixed;
    width:100%;
	left:0px;
	right:0px;
    bottom:0px;
}